*{margin: 0;}
#header
{
    background-color: #1a1a1a;
    color: white;
    padding-top: 20px;
}
#flex-container
{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
h1
{
    text-align: center;
}
.nav
{
    list-style-type: none;
    display: inline;
    font-size: 30px;
    padding-left: 60px;
    padding-right: 30px;
}
a:link{
    color: white;
}
a:visited{
    color: aqua;
}
a:hover{
    color: aliceblue;
}
#menu
{
    text-align: center;
    background-color: #034747;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
a
{
    color: white;
    text-decoration: none;
}
#main-content
{
    background-color: #1a1a1a;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
#footer
{
    background-color: #1a1a1a;
    color: white;
}
h2
{
    text-align: center;
}
h3
{
    padding-top: 20px;
    padding-left: 30px;
}
#about
{
    text-align: center;
}
p
{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}
img
{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
@media screen and (max-width: 768px) {
    #header
    {
        margin: auto;
    }
    .nav
    {
        display: flex;
        flex-direction: column;
        font-size: 4vw;
        padding-top: 1vw;
        padding-bottom: 0.5vw;
    }
    #flex-container
    {
        padding-top: 3vw;
    }
    #main-content{
        font-size: 2vw;
    }
    #footer{
        padding-top: 0;
        font-size: 2vw;
    }
    h3{padding-top: 3vw;}
}
@media screen and (max-width: 520px) {
    .nav{
        font-size: 3vw;
    }
}