*{margin: 0;}
#header
{
    background-color: #1a1a1a;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
#flex-container
{
    display: flex;
}
h1
{
    text-align: center;
}
.nav
{
    list-style-type: none;
    display: inline;
    font-size: 30px;
    padding-left: 60px;
    padding-right: 30px;
}
#menu
{
    text-align: center;
    background-color: #034747;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
a
{
    color: white;
    text-decoration: none;
}
#main-content
{
    background-color: #1a1a1a;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
}
#footer
{
    background-color: #1a1a1a;
    color: white;
}
h2
{
    text-align: center;
}
h3
{
    padding-left: 30px;
}
#about
{
    text-align: center;
}
p
{
    padding-left: 30px;
    padding-right: 30px;
}
img
{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}