*{margin: 0;}
#header
{
    background-color: #1a1a1a;
    color: white;
    padding-top: 20px;

}
#flex-container
{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}
h1
{
    text-align: center;
}
.nav
{
    list-style-type: none;
    display: inline;
    font-size: 30px;
    padding-left: 60px;
    padding-right: 30px;
}
a:link{
    color: white;
}
a:visited{
    color: aqua;
}
a:hover{
    color: aliceblue;
}
#menu
{
    text-align: center;
    background-color: #034747;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}
a
{
    color: white;
    text-decoration: none;
}
#main-content
{
    background-color: #1a1a1a;
    color: white;
}
#footer
{
    background-color: #1a1a1a;
    color: white;
    padding-left: 30px;
}
h2
{
    text-align: center;
}
#about
{
    text-align: center;
}
img
{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
#flex-item2{
    padding-top: 20px;
}
#flex-item3{
    padding-top: 20px;
}
@media screen and (max-width: 768px) {
    #header
    {
        margin: auto;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    h1{
        font-size: 2.5rem;
    }
    .nav
    {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        padding-left: 3.75rem;
        padding-right: 1.875rem;
    }
    #menu{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        margin: auto;
        box-sizing: border-box;
    }
    #flex-container
    {
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    h2
    {
        text-align: center;
        font-size: 2rem;
    }
    h3
    {
        padding-left: 1.875rem;
        font-size: 1.5rem;
    }
    p
    {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        font-size: 1rem;
    }
    #flex-item2{
        padding-top: 1.25rem;
    }
    #flex-item3{
        padding-top: 1.25rem;
    }
    #main-content{
        padding-top: 0;
    }
    img{
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    li{
        font-size: 1rem;
    }
    ul{
        font-size: 1rem;
    }
    ol{
        font-size: 1rem;
    }
    #footer{
        padding-left: 1.875rem;
    }
}